/* Section: Grid Nav */
nav h1{
    grid-area: logo;
}
.links{
    grid-area: links;
}
nav{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "logo""links";
}
/* Section: Flex-Box */
.links{
    display: flex;
    justify-content: space-between;
}
/* Section: Grid Updates */
.head2{
    grid-area: up-h2;
}
.un-regs{
    grid-area: un;
}
.brexit-info{
    grid-area: bre;
}
.updates{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "up-h2""un""bre";
}
/* Section: Sustain */
.head3{
    grid-area: sus-h3;
}
.jour-1{
    grid-area: jour-1;
}
.jour-2{
    grid-area: jour-2;
}
.jour-3{
    grid-area: jour-3;
}
.link-jour{
    grid-area: link-jour;
}
.sustain{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "sus-h3""jour-1""jour-2""jour-3""link-jour";
}
/* Section: Media-Queries */
@media only screen and (min-width: 400px){
    nav{
        grid-template-areas: "logo links";
    }
}
@media only screen and (min-width: 500px){
    .updates{
        grid-column-gap: 20px;
        grid-template-areas: "up-h2 up-h2""un bre";
    }
    .sustain{
        grid-column-gap: 20px;
        grid-template-areas: "sus-h3 sus-h3""jour-1 jour-1""jour-2 jour-3""link-jour link-jour";
    }
    .brexit-info h2{
        padding-bottom: 30px;
    }
}
@media only screen and (min-width: 700px){
    .services{
        grid-column-gap: 20px;
        grid-template-areas: "serv-h1 serv-h1 serv-h1""air sea road";
    }
}