/* Section: Grid Nav */
nav h1{
    grid-area: logo;
}
.links{
    grid-area: links;
}
nav{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "logo""links";
}
/* Section: Flex-Box */
.links{
    display: flex;
    justify-content: space-between;
}
/* Section: Grid Services */
.head1{
    grid-area: serv-h1;
}
.air{
    grid-area: air;
}
.sea{
    grid-area: sea;
}
.road{
    grid-area: road;
}
.services{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "serv-h1""air""sea""road";
}
/* Section: Grid Updates */
.head2{
    grid-area: up-h2;
}
.un-regs{
    grid-area: un;
}
.brexit-info{
    grid-area: bre;
}
.updates{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "up-h2""un""bre";
}
/* Section: Sustain */
.head3{
    grid-area: sus-h3;
}
.jour-1{
    grid-area: jour-1;
}
.jour-2{
    grid-area: jour-2;
}
.jour-3{
    grid-area: jour-3;
}
.sustain{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "sus-h3""jour-1""jour-2""jour-3";
}
/* Section: Media-Queries */
