body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2{
    font-family: 'Alegreya SC', serif;
}
nav{
    padding:0;
    list-style: none;
}
nav h1, nav a{
    font-family: 'Girassol', cursive;
}
nav h1{
    margin: 0;
}
nav a{
    padding-top: 6px;
    padding-right: 5px;
}
div h1{
    text-decoration: underline;
}
img{
    max-width: 100%
}
a{
    font-family: 'Alegreya SC', serif;
}
a:link, a:visited, a:hover, a:active{
    color: black;
}